1 .Find out there avarage rating on weekly basis keep this in a mind that they take two days of leave
2 .Total working days for each agents 
3. Total query that you hvae taken 
4. total Feedback that you have received 
5. a agent name who have average rating between 3.5 to 4 
6 . Agent name who have rating lesss then 3.5 
7 . agent name who have rating more then 4.5 
8 . how many feedaback agents have received more then 4.5 average
9 . average weekly response time for each agent 
10 . average weekely resolution time for each agents 
11 . list of all agents name 
12 . percentage of chat on which they have received a feedback 
13 . Total contributation hour for each and every agents weekly basis 
14. total percentage of active hour for a month

In [2]:
import pandas as pd

performance = pd.read_excel('AgentPerformance.xlsx', )
performance

,SL No,Date,Agent Name,Total Chats,Average Response Time,Average Resolution Time,Average Rating,Total Feedback
0,1,2022-07-30,Prerna Singh,11,00:00:38,00:04:20,4.11,9
1,2,2022-07-30,Nandani Gupta,11,00:01:15,00:28:25,3.14,7
2,3,2022-07-30,Ameya Jain,14,00:00:30,00:11:36,4.55,11
3,4,2022-07-30,Mahesh Sarade,14,00:01:04,00:15:46,4.71,7
4,5,2022-07-30,Swati,14,00:01:11,00:16:33,3.67,6
...,...,...,...,...,...,...,...,...
2155,2156,2022-07-01,Sowmiya Sivakumar,0,00:00:00,00:00:00,0.00,0
2156,2157,2022-07-01,Nitin M,0,00:00:00,00:00:00,0.00,0
2157,2158,2022-07-01,Vivek,0,00:00:00,00:00:00,0.00,0
2158,2159,2022-07-01,Ayushi Mishra,0,00:00:00,00:00:00,0.00,0
2159,2160,2022-07-01,Chaitra K Hiremath,0,00:00:00,00:00:00,0.00,0

In [5]:
performance['Date'] = pd.to_datetime(performance['Date'])

In [25]:
#1 .Find out there avarage rating on weekly basis keep this in a mind that they take two days of leave

Average_Rating = performance.groupby(['Agent Name'])['Average Rating'].sum()/5
Average_Rating.sort_values(ascending = False)

Agent Name
Shivananda Sonwane       25.396
Khushboo Priya           22.222
Manjunatha A             21.568
Boktiar Ahmed Bappy      21.408
Ishawant Kumar           21.260
                          ...
Aditya                    0.000
Hitesh Choudhary          0.000
Hyder Abbas               0.000
Ineuron Intelligence      0.000
Abhishek                  0.000
Name: Average Rating, Length: 70, dtype: float64

In [14]:
#2 .Total working days for each agents 
login = pd.read_csv('Agent_login_report.csv')
login

     SL No               Agent       Date  Login Time  Logout Time   Duration
0        1  Shivananda Sonwane  30-Jul-22  3:35:29 PM   5:39:39 PM   02:04:10
1        2      Khushboo Priya  30-Jul-22  3:06:59 PM   3:07:16 PM   00:00:17
2        3       Nandani Gupta  30-Jul-22  3:04:24 PM   5:31:07 PM   02:26:42
3        4     Hrisikesh Neogi  30-Jul-22  2:34:29 PM   3:19:35 PM   00:45:06
4        5              Mukesh  30-Jul-22  2:03:15 PM   3:11:52 PM   01:08:36
..     ...                 ...        ...         ...          ...        ...
995    996        Manjunatha A  20-Jul-22  9:03:51 AM   3:02:28 PM   05:58:37
996    997             Bharath  20-Jul-22  9:00:49 AM   3:01:32 PM   06:00:43
997    998      Khushboo Priya  20-Jul-22  8:59:20 AM   2:26:55 PM   05:27:34
998    999        Nishtha Jain  20-Jul-22  8:43:55 AM   2:00:33 PM   05:16:38
999   1000               Tarun  01-Jul-22  1:52:47 AM  12:01:07 PM  514:08:20

[1000 rows x 6 columns]

In [15]:
login['Date'] = pd.to_datetime(login['Date'])

In [24]:
working_days = login.groupby(['Agent'])['Date'].nunique()
working_days.sort_values(ascending = False)

Agent
Ishawant Kumar            11
Shubham Sharma            11
Prateek _iot              11
Anurag Tiwari             10
Shivananda Sonwane        10
Deepranjan Gupta          10
Zeeshan                    9
Dibyanshu                  9
Jawala Prakash             9
Sanjeev Kumar              9
Hrisikesh Neogi            9
Harikrishnan Shaji         9
Prerna Singh               9
Boktiar Ahmed Bappy        9
Ayushi Mishra              9
Nandani Gupta              9
Wasim                      9
Madhulika G                8
Mithun S                   8
Aditya_iot                 8
Mahesh Sarade              8
Shiva Srivastava           8
Khushboo Priya             8
Shivan K                   8
Bharath                    8
Sowmiya Sivakumar          8
Nishtha Jain               8
Rishav Dash                7
Saikumarreddy N            7
Prabir Kumar Satapathy     7
Manjunatha A               7
Aravind                    7
Jaydeep Dixit              7
Chaitra K Hiremath         7
Ameya Jain                 7
Muskan Garg                6
Sudhanshu Kumar            6
Maitry                     5
Saurabh Shukla             4
Swati                      4
Mukesh                     2
Amersh                     2
Hyder Abbas                2
Ankitjha                   2
Suraj S Bilgi              2
Tarun                      1
Nitin M                    1
Ineuron Intelligence       1
Aditya Shinde              1
Name: Date, dtype: int64

In [27]:
#3. Total query that you hvae taken 

Total_Queries = performance.groupby(['Agent Name'])['Total Chats'].sum()
Total_Queries.sort_values(ascending = False)

Agent Name
Hrisikesh Neogi    578
Nandani Gupta      560
Zeeshan            542
Maitry             542
Swati              524
                  ...
Nitin M              0
Aditya               0
Hyder Abbas          0
Ankit Sharma         0
Abhishek             0
Name: Total Chats, Length: 70, dtype: int64

In [28]:
#4. total Feedback that you have received 

Total_Feedback = performance.groupby(['Agent Name'])['Total Feedback'].sum()
Total_Feedback.sort_values(ascending = False)

Agent Name
Hrisikesh Neogi     367
Mithun S            364
Maitry              347
Zeeshan             335
Ayushi Mishra       329
                   ...
Hitesh Choudhary      0
Dibyanshu             0
Ashish                0
Ankit Sharma          0
Abhishek              0
Name: Total Feedback, Length: 70, dtype: int64

In [32]:
#5. a agent name who have average rating between 3.5 to 4 
names = performance[(performance['Average Rating'] > 3.5) & (performance['Average Rating']<4)]['Agent Name']
names.value_counts().index
for i in names.value_counts().index:
    print(i)

Boktiar Ahmed Bappy
Nandani Gupta
Nishtha Jain
Swati
Mahesh Sarade
Maitry
Madhulika G
Deepranjan Gupta
Ayushi Mishra
Ishawant Kumar
Aditya_iot
Mithun S
Rishav Dash
Harikrishnan Shaji
Jawala Prakash
Wasim
Zeeshan
Shivananda Sonwane
Khushboo Priya
Hrisikesh Neogi
Saurabh Shukla
Jayant Kumar
Anirudh
Sandipan Saha
Muskan Garg
Prateek _iot
Jaydeep Dixit
Manjunatha A
Shivan K
Prerna Singh
Aditya Shinde

In [38]:
#6 . Agent name who have rating lesss then 3.5 
names = performance[performance['Average Rating'] < 3.5]['Agent Name']
for i in names.value_counts().index:
    print(i)

Ashish
Rishav Dash
Mahak
Abhishek
Spuri
Nitin M
Rohan
Hyder Abbas
Hitesh Choudhary
Saif Khan
Ineuron Intelligence
Amersh
Vasanth P
Ankit Sharma
Tarun
Aditya
Dibyanshu
Uday Mishra
Samprit
Sanjeevan
Mukesh Rao
Maneesh
Anurag Tiwari
Vivek
Ankitjha
Shivan_S
Ashad Nasim
Suraj S Bilgi
Mukesh
Sudhanshu Kumar
Saurabh Shukla
Sandipan Saha
Anirudh
Jayant Kumar
Muskan Garg
Chaitra K Hiremath
Shiva Srivastava
Sowmiya Sivakumar
Aditya Shinde
Saikumarreddy N
Aditya_iot
Aravind
Ameya Jain
Mahesh Sarade
Mithun S
Zeeshan
Wasim
Prateek _iot
Prabir Kumar Satapathy
Harikrishnan Shaji
Swati
Nandani Gupta
Shivan K
Bharath
Deepranjan Gupta
Maitry
Prerna Singh
Hrisikesh Neogi
Jaydeep Dixit
Shubham Sharma
Sanjeev Kumar
Nishtha Jain
Jawala Prakash
Ayushi Mishra
Ishawant Kumar
Manjunatha A
Madhulika G
Boktiar Ahmed Bappy
Khushboo Priya
Shivananda Sonwane

In [39]:
#7.agent name who have rating more then 4.5
names = performance[performance['Average Rating'] > 4]['Agent Name']
for i in names.value_counts().index:
    print(i)

Shivananda Sonwane
Manjunatha A
Khushboo Priya
Prerna Singh
Ayushi Mishra
Shubham Sharma
Jaydeep Dixit
Sanjeev Kumar
Bharath
Ishawant Kumar
Hrisikesh Neogi
Madhulika G
Jawala Prakash
Rishav Dash
Boktiar Ahmed Bappy
Deepranjan Gupta
Nishtha Jain
Maitry
Shivan K
Prateek _iot
Prabir Kumar Satapathy
Nandani Gupta
Zeeshan
Aravind
Ameya Jain
Wasim
Saikumarreddy N
Harikrishnan Shaji
Swati
Mithun S
Aditya_iot
Aditya Shinde
Mahesh Sarade
Sowmiya Sivakumar
Jayant Kumar
Chaitra K Hiremath
Shiva Srivastava
Muskan Garg
Anirudh
Saurabh Shukla
Mukesh
Sandipan Saha
Sudhanshu Kumar
Suraj S Bilgi
Mukesh Rao
Shivan_S
Vivek
Ankitjha

In [42]:
#8 . how many feedaback agents have received more then 4.5 average

names = performance[performance['Average Rating'] > 4]['Agent Name']
names

0             Prerna Singh
2               Ameya Jain
3            Mahesh Sarade
5                  Mukesh
6          Saikumarreddy N
               ...
2100        Shubham Sharma
2101         Jaydeep Dixit
2102    Shivananda Sonwane
2103        Khushboo Priya
2104       Hrisikesh Neogi
Name: Agent Name, Length: 572, dtype: object

In [51]:
#9 . average weekly response time for each agent

performance[['response_hours','response_minutes','response_seconds']]=performance["Average Response Time"].str.split(":",expand=True)

performance['response_hours']=performance['response_hours'].astype(int)
performance['response_minutes']=performance['response_minutes'].astype(int)
performance['response_seconds']=performance['response_seconds'].astype(int)

performance["Response time in seconds"]=(performance['response_hours']*3600) + (performance['response_minutes']*60) + (performance['response_seconds'])
performance.head()

,SL No,Date,Agent Name,Total Chats,Average Response Time,Average Resolution Time,Average Rating,Total Feedback,response_hours,response_minutes,response_seconds,Response time in seconds
0,1,2022-07-30,Prerna Singh,11,00:00:38,00:04:20,4.11,9,0,0,38,38
1,2,2022-07-30,Nandani Gupta,11,00:01:15,00:28:25,3.14,7,0,1,15,75
2,3,2022-07-30,Ameya Jain,14,00:00:30,00:11:36,4.55,11,0,0,30,30
3,4,2022-07-30,Mahesh Sarade,14,00:01:04,00:15:46,4.71,7,0,1,4,64
4,5,2022-07-30,Swati,14,00:01:11,00:16:33,3.67,6,0,1,11,71

In [52]:
Average_Response_Time = performance.groupby(['Agent Name'])['Response time in seconds'].sum()/5
Average_Response_Time.sort_values(ascending = False)

Agent Name
Jawala Prakash           565.4
Madhulika G              398.6
Boktiar Ahmed Bappy      396.2
Maitry                   383.0
Zeeshan                  370.4
                         ...
Aditya                     0.0
Hitesh Choudhary           0.0
Hyder Abbas                0.0
Ineuron Intelligence       0.0
Abhishek                   0.0
Name: Response time in seconds, Length: 70, dtype: float64

In [53]:
#9 . average weekly response time for each agent

performance[['resolution_hours','resolution_minutes','resolution_seconds']]=performance["Average Resolution Time"].str.split(":",expand=True)

performance['resolution_hours']=performance['resolution_hours'].astype(int)
performance['resolution_minutes']=performance['resolution_minutes'].astype(int)
performance['resolution_seconds']=performance['resolution_seconds'].astype(int)

performance["Resolution time in seconds"]=(performance['resolution_hours']*3600) + (performance['resolution_minutes']*60) + (performance['resolution_seconds'])

Average_Resolution_Time = performance.groupby(['Agent Name'])['Resolution time in seconds'].sum()/5
Average_Resolution_Time.sort_values(ascending = False)

Agent Name
Shivananda Sonwane       7611.6
Deepranjan Gupta         7507.0
Nandani Gupta            6538.2
Jaydeep Dixit            6486.4
Shubham Sharma           6259.0
                          ...
Rohan                       0.0
Hyder Abbas                 0.0
Nitin M                     0.0
Ineuron Intelligence        0.0
Abhishek                    0.0
Name: Resolution time in seconds, Length: 70, dtype: float64

In [59]:
#11 . list of all agents name 

list(login['Agent'])

['Shivananda Sonwane',
 'Khushboo Priya',
 'Nandani Gupta',
 'Hrisikesh Neogi',
 'Mukesh',
 'Sowmiya Sivakumar',
 'Manjunatha A',
 'Harikrishnan Shaji',
 'Suraj S Bilgi',
 'Shivan K',
 'Anurag Tiwari',
 'Ishawant Kumar',
 'Shivan K',
 'Shubham Sharma',
 'Shivan K',
 'Prerna Singh',
 'Shivan K',
 'Shivan K',
 'Hrisikesh Neogi',
 'Khushboo Priya',
 'Nishtha Jain',
 'Prateek _iot',
 'Hrisikesh Neogi',
 'Shivan K',
 'Nishtha Jain',
 'Khushboo Priya',
 'Suraj S Bilgi',
 'Mithun S',
 'Harikrishnan Shaji',
 'Manjunatha A',
 'Hrisikesh Neogi',
 'Sowmiya Sivakumar',
 'Madhulika G',
 'Boktiar Ahmed Bappy',
 'Jawala Prakash',
 'Dibyanshu',
 'Dibyanshu',
 'Dibyanshu',
 'Hrisikesh Neogi',
 'Dibyanshu',
 'Boktiar Ahmed Bappy',
 'Jawala Prakash',
 'Boktiar Ahmed Bappy',
 'Jawala Prakash',
 'Boktiar Ahmed Bappy',
 'Hrisikesh Neogi',
 'Jawala Prakash',
 'Ishawant Kumar',
 'Deepranjan Gupta',
 'Shivananda Sonwane',
 'Jaydeep Dixit',
 'Boktiar Ahmed Bappy',
 'Hrisikesh Neogi',
 'Jaydeep Dixit',
 'Ayushi Mishra',
 'Mahesh Sarade',
 'Muskan Garg',
 'Dibyanshu',
 'Chaitra K Hiremath',
 'Dibyanshu',
 'Hrisikesh Neogi',
 'Shiva Srivastava',
 'Chaitra K Hiremath',
 'Ishawant Kumar',
 'Ishawant Kumar',
 'Hrisikesh Neogi',
 'Dibyanshu',
 'Deepranjan Gupta',
 'Shivananda Sonwane',
 'Dibyanshu',
 'Prateek _iot',
 'Suraj S Bilgi',
 'Aditya_iot',
 'Shivananda Sonwane',
 'Prerna Singh',
 'Mahesh Sarade',
 'Prateek _iot',
 'Dibyanshu',
 'Dibyanshu',
 'Dibyanshu',
 'Dibyanshu',
 'Ishawant Kumar',
 'Prabir Kumar Satapathy',
 'Mithun S',
 'Nandani Gupta',
 'Dibyanshu',
 'Dibyanshu',
 'Deepranjan Gupta',
 'Chaitra K Hiremath',
 'Dibyanshu',
 'Prerna Singh',
 'Jaydeep Dixit',
 'Nandani Gupta',
 'Sanjeev Kumar',
 'Mahesh Sarade',
 'Dibyanshu',
 'Zeeshan',
 'Ishawant Kumar',
 'Dibyanshu',
 'Mukesh',
 'Shivan K',
 'Sowmiya Sivakumar',
 'Ishawant Kumar',
 'Dibyanshu',
 'Ayushi Mishra',
 'Dibyanshu',
 'Deepranjan Gupta',
 'Prabir Kumar Satapathy',
 'Anurag Tiwari',
 'Prerna Singh',
 'Anurag Tiwari',
 'Mukesh',
 'Anurag Tiwari',
 'Suraj S Bilgi',
 'Chaitra K Hiremath',
 'Suraj S Bilgi',
 'Dibyanshu',
 'Dibyanshu',
 'Shivan K',
 'Dibyanshu',
 'Dibyanshu',
 'Shivan K',
 'Dibyanshu',
 'Madhulika G',
 'Mithun S',
 'Dibyanshu',
 'Hrisikesh Neogi',
 'Sowmiya Sivakumar',
 'Rishav Dash',
 'Hrisikesh Neogi',
 'Wasim',
 'Bharath',
 'Prabir Kumar Satapathy',
 'Dibyanshu',
 'Dibyanshu',
 'Dibyanshu',
 'Dibyanshu',
 'Dibyanshu',
 'Dibyanshu',
 'Dibyanshu',
 'Dibyanshu',
 'Dibyanshu',
 'Dibyanshu',
 'Dibyanshu',
 'Dibyanshu',
 'Dibyanshu',
 'Dibyanshu',
 'Jawala Prakash',
 'Anurag Tiwari',
 'Dibyanshu',
 'Anurag Tiwari',
 'Ayushi Mishra',
 'Shubham Sharma',
 'Anurag Tiwari',
 'Shivananda Sonwane',
 'Anurag Tiwari',
 'Dibyanshu',
 'Anurag Tiwari',
 'Ishawant Kumar',
 'Anurag Tiwari',
 'Dibyanshu',
 'Dibyanshu',
 'Anurag Tiwari',
 'Shivananda Sonwane',
 'Anurag Tiwari',
 'Dibyanshu',
 'Anurag Tiwari',
 'Anurag Tiwari',
 'Anurag Tiwari',
 'Dibyanshu',
 'Anurag Tiwari',
 'Jawala Prakash',
 'Ayushi Mishra',
 'Ishawant Kumar',
 'Dibyanshu',
 'Deepranjan Gupta',
 'Shiva Srivastava',
 'Muskan Garg',
 'Aditya_iot',
 'Aditya_iot',
 'Deepranjan Gupta',
 'Ishawant Kumar',
 'Deepranjan Gupta',
 'Dibyanshu',
 'Prateek _iot',
 'Harikrishnan Shaji',
 'Anurag Tiwari',
 'Harikrishnan Shaji',
 'Deepranjan Gupta',
 'Ishawant Kumar',
 'Nishtha Jain',
 'Shivan K',
 'Ishawant Kumar',
 'Shivan K',
 'Wasim',
 'Ishawant Kumar',
 'Ishawant Kumar',
 'Chaitra K Hiremath',
 'Deepranjan Gupta',
 'Shubham Sharma',
 'Jaydeep Dixit',
 'Ameya Jain',
 'Saikumarreddy N',
 'Zeeshan',
 'Shivan K',
 'Anurag Tiwari',
 'Anurag Tiwari',
 'Shivan K',
 'Prabir Kumar Satapathy',
 'Aravind',
 'Anurag Tiwari',
 'Chaitra K Hiremath',
 'Shubham Sharma',
 'Deepranjan Gupta',
 'Nishtha Jain',
 'Khushboo Priya',
 'Amersh',
 'Harikrishnan Shaji',
 'Harikrishnan Shaji',
 'Anurag Tiwari',
 'Dibyanshu',
 'Dibyanshu',
 'Dibyanshu',
 'Prabir Kumar Satapathy',
 'Khushboo Priya',
 'Wasim',
 'Nishtha Jain',
 'Harikrishnan Shaji',
 'Rishav Dash',
 'Manjunatha A',
 'Bharath',
 'Dibyanshu',
 'Prabir Kumar Satapathy',
 'Dibyanshu',
 'Dibyanshu',
 'Dibyanshu',
 'Dibyanshu',
 'Dibyanshu',
 'Dibyanshu',
 'Dibyanshu',
 'Dibyanshu',
 'Dibyanshu',
 'Dibyanshu',
 'Deepranjan Gupta',
 'Dibyanshu',
 'Dibyanshu',
 'Dibyanshu',
 'Shivan K',
 'Ishawant Kumar',
 'Ishawant Kumar',
 'Dibyanshu',
 'Ishawant Kumar',
 'Mahesh Sarade',
 'Shubham Sharma',
 'Mahesh Sarade',
 'Deepranjan Gupta',
 'Deepranjan Gupta',
 'Deepranjan Gupta',
 'Dibyanshu',
 'Dibyanshu',
 'Deepranjan Gupta',
 'Dibyanshu',
 'Deepranjan Gupta',
 'Boktiar Ahmed Bappy',
 'Shubham Sharma',
 'Shiva Srivastava',
 'Deepranjan Gupta',
 'Dibyanshu',
 'Chaitra K Hiremath',
 'Deepranjan Gupta',
 'Dibyanshu',
 'Deepranjan Gupta',
 'Deepranjan Gupta',
 'Dibyanshu',
 'Deepranjan Gupta',
 'Anurag Tiwari',
 'Ishawant Kumar',
 'Dibyanshu',
 'Boktiar Ahmed Bappy',
 'Jawala Prakash',
 'Shivananda Sonwane',
 'Mahesh Sarade',
 'Mahesh Sarade',
 'Muskan Garg',
 'Shiva Srivastava',
 'Mahesh Sarade',
 'Mahesh Sarade',
 'Mahesh Sarade',
 'Mahesh Sarade',
 'Dibyanshu',
 'Mahesh Sarade',
 'Sanjeev Kumar',
 'Dibyanshu',
 'Mahesh Sarade',
 'Mahesh Sarade',
 'Mahesh Sarade',
 'Dibyanshu',
 'Mahesh Sarade',
 'Aditya_iot',
 'Prateek _iot',
 'Mahesh Sarade',
 'Mahesh Sarade',
 'Mahesh Sarade',
 'Harikrishnan Shaji',
 'Mahesh Sarade',
 'Dibyanshu',
 'Mahesh Sarade',
 'Dibyanshu',
 'Mahesh Sarade',
 'Nishtha Jain',
 'Khushboo Priya',
 'Shivananda Sonwane',
 'Ishawant Kumar',
 'Dibyanshu',
 'Amersh',
 'Dibyanshu',
 'Sudhanshu Kumar',
 'Dibyanshu',
 'Ameya Jain',
 'Nandani Gupta',
 'Shubham Sharma',
 'Mahesh Sarade',
 'Sanjeev Kumar',
 'Zeeshan',
 'Dibyanshu',
 'Saikumarreddy N',
 'Dibyanshu',
 'Hrisikesh Neogi',
 'Dibyanshu',
 'Sowmiya Sivakumar',
 'Chaitra K Hiremath',
 'Ankitjha',
 'Amersh',
 'Ankitjha',
 'Amersh',
 'Prerna Singh',
 'Dibyanshu',
 'Shubham Sharma',
 'Deepranjan Gupta',
 'Ayushi Mishra',
 'Hrisikesh Neogi',
 'Anurag Tiwari',
 'Ayushi Mishra',
 'Sowmiya Sivakumar',
 'Khushboo Priya',
 'Nishtha Jain',
 'Sowmiya Sivakumar',
 'Hrisikesh Neogi',
 'Hrisikesh Neogi',
 'Dibyanshu',
 'Anurag Tiwari',
 'Hrisikesh Neogi',
 'Hrisikesh Neogi',
 'Wasim',
 'Nishtha Jain',
 'Khushboo Priya',
 'Sowmiya Sivakumar',
 'Mithun S',
 'Dibyanshu',
 'Harikrishnan Shaji',
 'Madhulika G',
 'Hrisikesh Neogi',
 'Manjunatha A',
 'Bharath',
 'Dibyanshu',
 'Dibyanshu',
 'Dibyanshu',
 'Dibyanshu',
 'Dibyanshu',
 'Dibyanshu',
 'Dibyanshu',
 'Dibyanshu',
 'Dibyanshu',
 'Dibyanshu',
 'Dibyanshu',
 'Dibyanshu',
 'Dibyanshu',
 'Ishawant Kumar',
 'Dibyanshu',
 'Ishawant Kumar',
 'Dibyanshu',
 'Mahesh Sarade',
 'Ishawant Kumar',
 'Dibyanshu',
 'Dibyanshu',
 'Sanjeev Kumar',
 'Boktiar Ahmed Bappy',
 'Prerna Singh',
 'Sanjeev Kumar',
 'Ishawant Kumar',
 'Prerna Singh',
 'Sanjeev Kumar',
 'Prerna Singh',
 'Anurag Tiwari',
 'Ayushi Mishra',
 'Ishawant Kumar',
 'Dibyanshu',
 'Boktiar Ahmed Bappy',
 'Shivananda Sonwane',
 'Dibyanshu',
 'Maitry',
 'Shubham Sharma',
 'Aditya Shinde',
 'Deepranjan Gupta',
 'Shiva Srivastava',
 'Muskan Garg',
 'Ankitjha',
 'Ankitjha',
 'Ishawant Kumar',
 'Prateek _iot',
 'Aditya_iot',
 'Sudhanshu Kumar',
 'Ayushi Mishra',
 'Deepranjan Gupta',
 'Anurag Tiwari',
 'Sudhanshu Kumar',
 'Deepranjan Gupta',
 'Deepranjan Gupta',
 'Chaitra K Hiremath',
 'Chaitra K Hiremath',
 'Mithun S',
 'Shivan K',
 'Shivan K',
 'Saikumarreddy N',
 'Saikumarreddy N',
 'Prerna Singh',
 'Prerna Singh',
 'Jaydeep Dixit',
 'Madhulika G',
 'Madhulika G',
 'Sowmiya Sivakumar',
 'Sowmiya Sivakumar',
 'Prabir Kumar Satapathy',
 'Prabir Kumar Satapathy',
 'Sanjeev Kumar',
 'Mahesh Sarade',
 'Harikrishnan Shaji',
 'Nandani Gupta',
 'Hrisikesh Neogi',
 'Anurag Tiwari',
 'Deepranjan Gupta',
 'Nandani Gupta',
 'Khushboo Priya',
 'Khushboo Priya',
 'Ishawant Kumar',
 'Prabir Kumar Satapathy',
 'Mithun S',
 'Mithun S',
 'Rishav Dash',
 'Rishav Dash',
 'Madhulika G',
 'Madhulika G',
 'Prabir Kumar Satapathy',
 'Prabir Kumar Satapathy',
 'Ayushi Mishra',
 'Shivan K',
 'Wasim',
 'Wasim',
 'Dibyanshu',
 'Hrisikesh Neogi',
 'Hrisikesh Neogi',
 'Dibyanshu',
 'Shubham Sharma',
 'Sowmiya Sivakumar',
 'Sowmiya Sivakumar',
 'Ayushi Mishra',
 'Ayushi Mishra',
 'Anurag Tiwari',
 'Sowmiya Sivakumar',
 'Hrisikesh Neogi',
 'Anurag Tiwari',
 'Sowmiya Sivakumar',
 'Shivan K',
 'Hrisikesh Neogi',
 'Harikrishnan Shaji',
 'Jawala Prakash',
 'Sanjeev Kumar',
 'Shubham Sharma',
 'Anurag Tiwari',
 'Boktiar Ahmed Bappy',
 'Boktiar Ahmed Bappy',
 'Hyder Abbas',
 'Muskan Garg',
 'Ayushi Mishra',
 'Jawala Prakash',
 'Shivananda Sonwane',
 'Ishawant Kumar',
 'Boktiar Ahmed Bappy',
 'Deepranjan Gupta',
 'Deepranjan Gupta',
 'Ishawant Kumar',
 'Shiva Srivastava',
 'Muskan Garg',
 'Deepranjan Gupta',
 'Shiva Srivastava',
 'Prerna Singh',
 'Ishawant Kumar',
 'Prateek _iot',
 'Aditya_iot',
 'Wasim',
 'Shiva Srivastava',
 'Muskan Garg',
 'Anurag Tiwari',
 'Shiva Srivastava',
 'Nishtha Jain',
 'Shiva Srivastava',
 'Ishawant Kumar',
 'Wasim',
 'Muskan Garg',
 'Wasim',
 'Anurag Tiwari',
 'Deepranjan Gupta',
 'Shubham Sharma',
 'Prerna Singh',
 'Swati',
 'Zeeshan',
 'Ameya Jain',
 'Harikrishnan Shaji',
 'Sanjeev Kumar',
 'Shivan K',
 'Chaitra K Hiremath',
 'Sowmiya Sivakumar',
 'Shubham Sharma',
 'Shivan K',
 'Anurag Tiwari',
 'Shivan K',
 'Nandani Gupta',
 'Aravind',
 'Ayushi Mishra',
 'Prateek _iot',
 'Wasim',
 'Shivan K',
 'Deepranjan Gupta',
 'Prabir Kumar Satapathy',
 'Shivan K',
 'Harikrishnan Shaji',
 'Rishav Dash',
 'Sowmiya Sivakumar',
 'Mithun S',
 'Shivan K',
 'Harikrishnan Shaji',
 'Sowmiya Sivakumar',
 'Wasim',
 'Manjunatha A',
 'Bharath',
 'Nishtha Jain',
 'Jawala Prakash',
 'Mahesh Sarade',
 'Shivananda Sonwane',
 'Ameya Jain',
 'Shiva Srivastava',
 'Shubham Sharma',
 'Ishawant Kumar',
 'Ameya Jain',
 'Ayushi Mishra',
 'Saikumarreddy N',
 'Jawala Prakash',
 'Jaydeep Dixit',
 'Ishawant Kumar',
 'Deepranjan Gupta',
 'Maitry',
 'Ishawant Kumar',
 'Deepranjan Gupta',
 'Madhulika G',
 'Shivan K',
 'Ishawant Kumar',
 'Ameya Jain',
 'Mahesh Sarade',
 'Sanjeev Kumar',
 'Sanjeev Kumar',
 'Prateek _iot',
 'Shivananda Sonwane',
 'Mahesh Sarade',
 'Shubham Sharma',
 'Jaydeep Dixit',
 'Deepranjan Gupta',
 'Hrisikesh Neogi',
 'Jaydeep Dixit',
 'Swati',
 'Hrisikesh Neogi',
 'Shubham Sharma',
 'Ameya Jain',
 'Mahesh Sarade',
 'Aravind',
 'Zeeshan',
 'Saikumarreddy N',
 'Nishtha Jain',
 'Khushboo Priya',
 'Shivan K',
 'Ayushi Mishra',
 'Deepranjan Gupta',
 'Hrisikesh Neogi',
 'Shubham Sharma',
 'Nandani Gupta',
 'Shivan K',
 'Madhulika G',
 'Anurag Tiwari',
 'Saikumarreddy N',
 'Shivan K',
 'Madhulika G',
 'Khushboo Priya',
 'Khushboo Priya',
 'Shivan K',
 'Nishtha Jain',
 'Rishav Dash',
 'Manjunatha A',
 'Hrisikesh Neogi',
 'Madhulika G',
 'Bharath',
 'Prabir Kumar Satapathy',
 'Shiva Srivastava',
 'Dibyanshu',
 'Boktiar Ahmed Bappy',
 'Dibyanshu',
 'Ishawant Kumar',
 'Shubham Sharma',
 'Ishawant Kumar',
 'Shubham Sharma',
 'Dibyanshu',
 'Ishawant Kumar',
 'Shubham Sharma',
 'Ishawant Kumar',
 'Wasim',
 'Dibyanshu',
 'Sanjeev Kumar',
 'Shiva Srivastava',
 'Dibyanshu',
 'Mahesh Sarade',
 'Ishawant Kumar',
 'Ishawant Kumar',
 'Deepranjan Gupta',
 'Swati',
 'Maitry',
 'Sanjeev Kumar',
 'Ayushi Mishra',
 'Shivananda Sonwane',
 'Boktiar Ahmed Bappy',
 'Dibyanshu',
 'Deepranjan Gupta',
 'Dibyanshu',
 'Anurag Tiwari',
 'Dibyanshu',
 'Deepranjan Gupta',
 'Harikrishnan Shaji',
 'Jaydeep Dixit',
 'Dibyanshu',
 'Dibyanshu',
 'Dibyanshu',
 'Dibyanshu',
 'Dibyanshu',
 'Zeeshan',
 'Dibyanshu',
 'Aravind',
 'Dibyanshu',
 'Dibyanshu',
 'Dibyanshu',
 'Dibyanshu',
 'Nandani Gupta',
 'Shubham Sharma',
 'Prerna Singh',
 'Ameya Jain',
 'Aravind',
 'Deepranjan Gupta',
 'Shubham Sharma',
 'Saikumarreddy N',
 'Sanjeev Kumar',
 'Mahesh Sarade',
 'Swati',
 'Hrisikesh Neogi',
 'Sudhanshu Kumar',
 'Sanjeev Kumar',
 'Dibyanshu',
 'Dibyanshu',
 'Hrisikesh Neogi',
 'Sowmiya Sivakumar',
 'Sowmiya Sivakumar',
 'Madhulika G',
 'Shubham Sharma',
 'Mithun S',
 'Chaitra K Hiremath',
 'Sowmiya Sivakumar',
 'Dibyanshu',
 'Dibyanshu',
 'Prateek _iot',
 'Nishtha Jain',
 'Dibyanshu',
 'Khushboo Priya',
 'Madhulika G',
 'Shivan K',
 'Harikrishnan Shaji',
 'Sowmiya Sivakumar',
 'Madhulika G',
 'Hrisikesh Neogi',
 'Nishtha Jain',
 'Mithun S',
 'Saurabh Shukla',
 'Sudhanshu Kumar',
 'Mahesh Sarade',
 'Saurabh Shukla',
 'Deepranjan Gupta',
 'Dibyanshu',
 'Boktiar Ahmed Bappy',
 'Dibyanshu',
 'Saurabh Shukla',
 'Dibyanshu',
 'Ishawant Kumar',
 'Saurabh Shukla',
 'Muskan Garg',
 'Deepranjan Gupta',
 'Saurabh Shukla',
 'Deepranjan Gupta',
 'Aravind',
 'Jawala Prakash',
 'Ishawant Kumar',
 'Deepranjan Gupta',
 'Boktiar Ahmed Bappy',
 'Dibyanshu',
 'Shivananda Sonwane',
 'Saurabh Shukla',
 'Zeeshan',
 'Dibyanshu',
 'Muskan Garg',
 'Saurabh Shukla',
 'Saurabh Shukla',
 'Dibyanshu',
 'Dibyanshu',
 'Dibyanshu',
 'Prateek _iot',
 'Aditya_iot',
 'Dibyanshu',
 'Saurabh Shukla',
 'Saurabh Shukla',
 'Dibyanshu',
 'Saurabh Shukla',
 'Dibyanshu',
 'Mahesh Sarade',
 'Prabir Kumar Satapathy',
 'Saurabh Shukla',
 'Dibyanshu',
 'Saurabh Shukla',
 'Dibyanshu',
 'Wasim',
 'Dibyanshu',
 'Dibyanshu',
 'Jaydeep Dixit',
 'Prerna Singh',
 'Aravind',
 'Sanjeev Kumar',
 'Rishav Dash',
 'Zeeshan',
 'Nandani Gupta',
 'Mahesh Sarade',
 'Shubham Sharma',
 'Dibyanshu',
 'Saurabh Shukla',
 'Harikrishnan Shaji',
 'Prabir Kumar Satapathy',
 'Deepranjan Gupta',
 'Prabir Kumar Satapathy',
 'Shubham Sharma',
 'Hyder Abbas',
 'Shubham Sharma',
 'Shivan K',
 'Dibyanshu',
 'Nitin M',
 'Dibyanshu',
 'Shivan K',
 'Dibyanshu',
 'Muskan Garg',
 'Ayushi Mishra',
 'Hrisikesh Neogi',
 'Prabir Kumar Satapathy',
 'Shiva Srivastava',
 'Shiva Srivastava',
 'Muskan Garg',
 'Sudhanshu Kumar',
 'Chaitra K Hiremath',
 'Dibyanshu',
 'Dibyanshu',
 'Dibyanshu',
 'Dibyanshu',
 'Sowmiya Sivakumar',
 'Sowmiya Sivakumar',
 'Shivan K',
 'Dibyanshu',
 'Shivan K',
 'Harikrishnan Shaji',
 'Khushboo Priya',
 'Khushboo Priya',
 'Deepranjan Gupta',
 'Dibyanshu',
 'Prabir Kumar Satapathy',
 'Nishtha Jain',
 'Nishtha Jain',
 'Dibyanshu',
 'Dibyanshu',
 'Rishav Dash',
 'Rishav Dash',
 'Prabir Kumar Satapathy',
 'Prabir Kumar Satapathy',
 'Shivan K',
 'Shivan K',
 'Mithun S',
 'Mithun S',
 'Rishav Dash',
 'Madhulika G',
 'Prateek _iot',
 'Wasim',
 'Bharath',
 'Bharath',
 'Rishav Dash',
 'Dibyanshu',
 'Prabir Kumar Satapathy',
 'Saurabh Shukla',
 'Saurabh Shukla',
 'Dibyanshu',
 'Dibyanshu',
 'Saurabh Shukla',
 'Dibyanshu',
 'Saurabh Shukla',
 'Dibyanshu',
 'Saurabh Shukla',
 'Dibyanshu',
 'Saurabh Shukla',
 'Dibyanshu',
 'Saurabh Shukla',
 'Dibyanshu',
 'Dibyanshu',
 'Sudhanshu Kumar',
 'Dibyanshu',
 'Saurabh Shukla',
 'Dibyanshu',
 'Saurabh Shukla',
 'Dibyanshu',
 'Saurabh Shukla',
 'Saurabh Shukla',
 'Shubham Sharma',
 'Shubham Sharma',
 'Deepranjan Gupta',
 'Saurabh Shukla',
 'Deepranjan Gupta',
 'Dibyanshu',
 'Ayushi Mishra',
 'Saurabh Shukla',
 'Dibyanshu',
 'Jawala Prakash',
 'Saurabh Shukla',
 'Maitry',
 'Ishawant Kumar',
 'Dibyanshu',
 'Dibyanshu',
 'Aravind',
 'Dibyanshu',
 'Dibyanshu',
 'Saurabh Shukla',
 'Dibyanshu',
 'Aditya_iot',
 'Sudhanshu Kumar',
 'Prateek _iot',
 'Anurag Tiwari',
 'Dibyanshu',
 'Sudhanshu Kumar',
 'Ishawant Kumar',
 'Prabir Kumar Satapathy',
 'Ameya Jain',
 'Saurabh Shukla',
 'Wasim',
 'Harikrishnan Shaji',
 'Shubham Sharma',
 'Jaydeep Dixit',
 'Hrisikesh Neogi',
 'Zeeshan',
 'Saurabh Shukla',
 'Saikumarreddy N',
 'Prabir Kumar Satapathy',
 'Prerna Singh',
 'Deepranjan Gupta',
 'Prerna Singh',
 'Deepranjan Gupta',
 'Shubham Sharma',
 'Prabir Kumar Satapathy',
 'Deepranjan Gupta',
 'Saurabh Shukla',
 'Prateek _iot',
 'Prabir Kumar Satapathy',
 'Prateek _iot',
 'Wasim',
 'Hrisikesh Neogi',
 'Harikrishnan Shaji',
 'Manjunatha A',
 'Bharath',
 'Rishav Dash',
 'Prabir Kumar Satapathy',
 'Saurabh Shukla',
 'Saurabh Shukla',
 'Saurabh Shukla',
 'Saurabh Shukla',
 'Jawala Prakash',
 'Saurabh Shukla',
 'Deepranjan Gupta',
 'Dibyanshu',
 'Dibyanshu',
 'Dibyanshu',
 'Sanjeev Kumar',
 'Deepranjan Gupta',
 'Dibyanshu',
 'Dibyanshu',
 'Dibyanshu',
 'Dibyanshu',
 'Dibyanshu',
 'Sanjeev Kumar',
 'Hrisikesh Neogi',
 'Wasim',
 'Dibyanshu',
 'Shubham Sharma',
 'Deepranjan Gupta',
 'Deepranjan Gupta',
 'Deepranjan Gupta',
 'Dibyanshu',
 'Deepranjan Gupta',
 'Jawala Prakash',
 'Dibyanshu',
 'Deepranjan Gupta',
 'Mahesh Sarade',
 'Dibyanshu',
 'Sanjeev Kumar',
 'Dibyanshu',
 'Jawala Prakash',
 'Shubham Sharma',
 'Ishawant Kumar',
 'Dibyanshu',
 'Shubham Sharma',
 'Shivananda Sonwane',
 'Boktiar Ahmed Bappy',
 'Hrisikesh Neogi',
 'Maitry',
 'Ishawant Kumar',
 'Shubham Sharma',
 'Ishawant Kumar',
 'Dibyanshu',
 'Dibyanshu',
 'Aravind',
 'Wasim',
 'Dibyanshu',
 'Dibyanshu',
 'Anurag Tiwari',
 'Dibyanshu',
 'Dibyanshu',
 'Dibyanshu',
 'Dibyanshu',
 'Aditya_iot',
 'Sudhanshu Kumar',
 'Harikrishnan Shaji',
 'Prateek _iot',
 'Saurabh Shukla',
 'Dibyanshu',
 'Dibyanshu',
 'Dibyanshu',
 'Dibyanshu',
 'Dibyanshu',
 'Ishawant Kumar',
 'Wasim',
 'Saurabh Shukla',
 'Ishawant Kumar',
 'Mithun S',
 'Dibyanshu',
 'Madhulika G',
 'Shubham Sharma',
 'Hrisikesh Neogi',
 'Swati',
 'Prerna Singh',
 'Zeeshan',
 'Saurabh Shukla',
 'Sanjeev Kumar',
 'Ameya Jain',
 'Mahesh Sarade',
 'Nandani Gupta',
 'Saikumarreddy N',
 'Dibyanshu',
 'Nishtha Jain',
 'Khushboo Priya',
 'Dibyanshu',
 'Harikrishnan Shaji',
 'Prateek _iot',
 'Prerna Singh',
 'Hrisikesh Neogi',
 'Ineuron Intelligence',
 'Dibyanshu',
 'Mithun S',
 'Sudhanshu Kumar',
 'Wasim',
 'Madhulika G',
 'Harikrishnan Shaji',
 'Sowmiya Sivakumar',
 'Aravind',
 'Manjunatha A',
 'Bharath',
 'Khushboo Priya',
 'Nishtha Jain',
 'Tarun']

In [66]:
#12 . percentage of chat on which they have received a feedback 

percent_of_chat = performance.groupby(['Agent Name'])['Total Chats', 'Total Feedback'].sum()
percent_of_chat['Feedback Percentage'] = (percent_of_chat['Total Chats'] / percent_of_chat['Total Feedback'])*100
percent_of_chat.sort_values('Feedback Percentage', ascending = False)

C:\Users\Thanmai\AppData\Local\Temp/ipykernel_29244/1362377240.py:3: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.
  percent_of_chat = performance.groupby(['Agent Name'])['Total Chats', 'Total Feedback'].sum()

                  Total Chats  Total Feedback  Feedback Percentage
Agent Name
Hitesh Choudhary            1               0                  inf
Dibyanshu                   1               0                  inf
Samprit                     1               0                  inf
Tarun                      22               6           366.666667
Vivek                      44              20           220.000000
...                       ...             ...                  ...
Saif Khan                   0               0                  NaN
Sanjeevan                   0               0                  NaN
Spuri                       0               0                  NaN
Uday Mishra                 0               0                  NaN
Vasanth P                   0               0                  NaN

[70 rows x 3 columns]

In [69]:
#13 . Total contributation hour for each and every agents weekly basis 
login1 = pd.read_csv('Agent_login_report.csv')
login1.head()

   SL No               Agent       Date  Login Time Logout Time  Duration
0      1  Shivananda Sonwane  30-Jul-22  3:35:29 PM  5:39:39 PM  02:04:10
1      2      Khushboo Priya  30-Jul-22  3:06:59 PM  3:07:16 PM  00:00:17
2      3       Nandani Gupta  30-Jul-22  3:04:24 PM  5:31:07 PM  02:26:42
3      4     Hrisikesh Neogi  30-Jul-22  2:34:29 PM  3:19:35 PM  00:45:06
4      5              Mukesh  30-Jul-22  2:03:15 PM  3:11:52 PM  01:08:36

In [72]:
login[['Dutarion_hours','Dutarion_minutes','Dutarion_seconds']]=login["Duration"].str.split(":",expand=True)

login['Dutarion_hours']=login['Dutarion_hours'].astype(int)
login['Dutarion_minutes']=login['Dutarion_minutes'].astype(int)
login['Dutarion_seconds']=login['Dutarion_seconds'].astype(int)

login["Dutarion in hours"]=(login['Dutarion_hours']) + (login['Dutarion_minutes']/60) + (login['Dutarion_seconds']/3600)

Average_Duration = login.groupby(['Agent'])['Dutarion in hours'].sum()/5
Average_Duration.sort_values(ascending = False)

Agent
Tarun                     102.827778
Deepranjan Gupta           21.255056
Jaydeep Dixit              11.968111
Hrisikesh Neogi            11.513722
Shubham Sharma             10.759667
Harikrishnan Shaji         10.742944
Dibyanshu                  10.519167
Ishawant Kumar             10.355778
Shivananda Sonwane          9.857556
Zeeshan                     9.817722
Wasim                       9.635833
Bharath                     9.615333
Jawala Prakash              9.280444
Sudhanshu Kumar             9.246222
Madhulika G                 9.212056
Prerna Singh                9.143111
Mithun S                    9.034722
Sowmiya Sivakumar           8.950833
Sanjeev Kumar               8.937444
Nishtha Jain                8.770556
Khushboo Priya              8.711722
Saikumarreddy N             8.627500
Mahesh Sarade               8.584389
Ameya Jain                  8.415111
Rishav Dash                 8.355111
Manjunatha A                8.254944
Boktiar Ahmed Bappy         8.053722
Nandani Gupta               8.034444
Ayushi Mishra               7.624333
Shivan K                    7.220444
Chaitra K Hiremath          6.865111
Prabir Kumar Satapathy      6.675444
Maitry                      6.189000
Swati                       5.000222
Aravind                     4.859833
Prateek _iot                3.683611
Muskan Garg                 3.467111
Saurabh Shukla              3.332611
Aditya_iot                  3.146222
Shiva Srivastava            2.998833
Suraj S Bilgi               2.511833
Mukesh                      1.781000
Amersh                      0.612778
Anurag Tiwari               0.555778
Ankitjha                    0.453389
Ineuron Intelligence        0.289722
Nitin M                     0.159778
Hyder Abbas                 0.077611
Aditya Shinde               0.007222
Name: Dutarion in hours, dtype: float64

In [73]:
#14. total percentage of active hour for a month 

login.head()

,SL No,Agent,Date,Login Time,Logout Time,Duration,Dutarion_hours,Dutarion_minutes,Dutarion_seconds,Dutarion in hours
0,1,Shivananda Sonwane,2022-07-30,2022-08-04 15:35:29,2022-08-04 17:39:39,02:04:10,2,4,10,2.069444
1,2,Khushboo Priya,2022-07-30,2022-08-04 15:06:59,2022-08-04 15:07:16,00:00:17,0,0,17,0.004722
2,3,Nandani Gupta,2022-07-30,2022-08-04 15:04:24,2022-08-04 17:31:07,02:26:42,2,26,42,2.445000
3,4,Hrisikesh Neogi,2022-07-30,2022-08-04 14:34:29,2022-08-04 15:19:35,00:45:06,0,45,6,0.751667
4,5,Mukesh,2022-07-30,2022-08-04 14:03:15,2022-08-04 15:11:52,01:08:36,1,8,36,1.143333

In [74]:
#let's take total 160hrs/month
Average_Response_Time = performance.groupby(['Agent Name'])['Dutarion in hours'].sum()
Average_Response_Time

Agent Name
Abhishek         0.000000
Aditya           0.000000
Aditya Shinde    5.171944
Aditya_iot       4.910833
Amersh           0.000000
                   ...
Uday Mishra      0.000000
Vasanth P        0.000000
Vivek            1.273056
Wasim            5.740556
Zeeshan          5.375556
Name: Dutarion in hours, Length: 70, dtype: float64

In [8]:
df['converted_Login_Time'] = pd.to_datetime(df['Login Time'])
df

,SL No,Agent,Date,Login Time,Logout Time,Duration,converted_date,converted_Login_Time
0,1,Shivananda Sonwane,30-Jul-22,3:35:29 PM,5:39:39 PM,02:04:10,2022-07-30,2022-07-30 15:35:29
1,2,Khushboo Priya,30-Jul-22,3:06:59 PM,3:07:16 PM,00:00:17,2022-07-30,2022-07-30 15:06:59
2,3,Nandani Gupta,30-Jul-22,3:04:24 PM,5:31:07 PM,02:26:42,2022-07-30,2022-07-30 15:04:24
3,4,Hrisikesh Neogi,30-Jul-22,2:34:29 PM,3:19:35 PM,00:45:06,2022-07-30,2022-07-30 14:34:29
4,5,Mukesh,30-Jul-22,2:03:15 PM,3:11:52 PM,01:08:36,2022-07-30,2022-07-30 14:03:15
...,...,...,...,...,...,...,...,...
995,996,Manjunatha A,20-Jul-22,9:03:51 AM,3:02:28 PM,05:58:37,2022-07-20,2022-07-30 09:03:51
996,997,Bharath,20-Jul-22,9:00:49 AM,3:01:32 PM,06:00:43,2022-07-20,2022-07-30 09:00:49
997,998,Khushboo Priya,20-Jul-22,8:59:20 AM,2:26:55 PM,05:27:34,2022-07-20,2022-07-30 08:59:20
998,999,Nishtha Jain,20-Jul-22,8:43:55 AM,2:00:33 PM,05:16:38,2022-07-20,2022-07-30 08:43:55
999,1000,Tarun,01-Jul-22,1:52:47 AM,12:01:07 PM,514:08:20,2022-07-01,2022-07-30 01:52:47

In [13]:
df['converted_Logout_Time'] = pd.to_datetime(df['Logout Time'])
df['year'] = df['converted_date'].dt.year
df['month'] = df['converted_date'].dt.month
df['week'] = df['converted_date'].dt.year
df.head()

,SL No,Agent,Date,Login Time,Logout Time,Duration,converted_date,converted_Login_Time,converted_Logout_Time,year,month,week
0,1,Shivananda Sonwane,30-Jul-22,3:35:29 PM,5:39:39 PM,02:04:10,2022-07-30,2022-07-30 15:35:29,2022-07-30 17:39:39,2022,7,2022
1,2,Khushboo Priya,30-Jul-22,3:06:59 PM,3:07:16 PM,00:00:17,2022-07-30,2022-07-30 15:06:59,2022-07-30 15:07:16,2022,7,2022
2,3,Nandani Gupta,30-Jul-22,3:04:24 PM,5:31:07 PM,02:26:42,2022-07-30,2022-07-30 15:04:24,2022-07-30 17:31:07,2022,7,2022
3,4,Hrisikesh Neogi,30-Jul-22,2:34:29 PM,3:19:35 PM,00:45:06,2022-07-30,2022-07-30 14:34:29,2022-07-30 15:19:35,2022,7,2022
4,5,Mukesh,30-Jul-22,2:03:15 PM,3:11:52 PM,01:08:36,2022-07-30,2022-07-30 14:03:15,2022-07-30 15:11:52,2022,7,2022